.aboutMe h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5em;
  font-weight: 700;
}

.aboutMe p {
  text-transform: capitalize;
  font-size: 1em;
  line-height: 2em;
  margin: auto;
  width: 80%;
  text-align: center;
}

/* skills */

.skills {
  margin: 40px 0;
}

.skills h4 {
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.skillList p {
  text-align: center;
  letter-spacing: 2px;
}

.contactMe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  margin: auto;
  padding: 30px 20px;
}

.contactMe a {
  text-decoration: none;
  font-weight: 700;
  color: #EFD6AC;
}
